.progress-bar-base{
    background-color:#eee ;
}
.progress-bar{
    width:0px;
    height:15px;
}
.progress-bar.red{
    background-color:#fb4835 ;
}
.progress-bar.yellow{
    background-color:#bbdd0e ;
}
.progress-bar.green{
    background-color:#127d04 ;
}